{% extends 'blo/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    {{ user.email }}
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
        reset password
        </legend>
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
  <button
          {% if form == user.email %}
           class="btn btn-outline-info"
                     type="submit "
                    {% endif %}
       >request password</button>




    </div>
</form>


</div>

{% endblock content %}